<!DOCTYPE html>
<html lang="es">
  <head>
    {% include "Encabezado.html" %}
  </head>
  <body>
      {% include "menu.html" %}
<section>
    <h3>Actividad</h3>
    <form action="" method="post">
    {% csrf_token %}
  <div class="form-group">
    Registro: <input type="text" name="Registro" class="form-control">
  </div>
  <div class="form-group">
    Id Usuario: <input type="text" name="IdUsuario" class="form-control">
  </div>
  <div class="form-group">
    Movimiento Actividad: <input type="text" name="MovimientoAct"class="form-control">
  </div>
  <div class="form-group">
    Movimiento Tabla: <input type="text" name="MovimientoTabla"class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

      {% if error %}
        <h3>Debes completar los datos</h3>
      {% endif %}

      {% if agregado %}
        <h3>Actividad Realizada</h3>
      {% endif %}
      </form>
            <table>
              <tr>
                <th>Registro</th>
                <th>Id Usuario</th>
                <th>Movimiento Actividad</th>
                <th>Movimiento Tabla</th>
              </tr>
          {% for fila in actividades %}
            <tr>
                <td>{{ fila.Registro}}</td>
                <td>{{ fila.IdUsuario}}</td>
                <td>{{ fila.MovimientoAct}}</td>
                <td>{{ fila.MovimientoTabla}}</td>
            </tr>
          {% endfor %}
            </table>
</section>
    {% include "Pie.html" %}
  </body>
</html>
