<!DOCTYPE html>
<html lang="es">
  <head>
    {% include "Encabezado.html" %}
  </head>
  <body>
      {% include "menu.html" %}
<section>
    <h3>Balance</h3>
    <input type="button" id="Imprimir" value="Imprimir">
    <form action="" method="post">
    {% csrf_token %}
    <div class="form-group">
    Fecha de Inicio: <input type="date" name="FechaInicio" class="form-control">
    </div>
    <div class="form-group">
    Fecha Final: <input type="date" name="FechaFinal" class="form-control">
    </div>
    <div class="form-group">
    Total: <input type="number" name="Total" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Crear Balance</button>

    {% if error %}
      <h3>Debes completar los datos</h3>
    {% endif %}

    {% if agregado %}
      <h3>Balance Realizada</h3>
    {% endif %}
  </form>
      <table>
        <tr>
          <th>Fecha Inicio</th>
          <th>Fecha Final</th>
          <th>Total</th>
        </tr>
    {% for fila in balances %}
      <tr>
          <td>{{ fila.FechaInicio}}</td>
          <td>{{ fila.FechaFinal}}</td>
          <td>{{ fila.Total}}</td>
      </tr>
    {% endfor %}
      </table>
</section>
<script>
    window.onload=function(){
        var boton=document.getElementById("Imprimir");
        boton.addEventListener("click",Imprimir);
    }

    function Imprimir(){
        window.print();
    }
</script>
  {% include "Pie.html" %}
  </body>
</html>
