<!DOCTYPE html>
<html lang="es">
  <head>
    {% include "Encabezado.html" %}
  </head>
  <body>
      {% include "menu.html" %}
<section>
    <h3>Cliente</h3>
    <form action="" method="post">
      {% csrf_token %}
      <div class="form-group">
        Nombre: <input type="text" name="Nombre" class="form-control"> <br>
      </div>
      <div class="form-group">
        Apellido Paterno: <input type="text" name="ApellidoP" class="form-control"><br>
      </div>
      <div class="form-group">
        Apellido Materno: <input type="text" name="ApellidoM"class="form-control"><br>
      </div>
      <div class="form-group">
        Direccion:<input type="text" name="Direccion" class="form-control"><br>
      </div>
      <div class="form-group">
        Telefono: <input type="tel" name="Telefono" class="form-control"><br>
      </div>
      <div class="form-group">
        Correo: <input type="email" name="Correo" class="form-control"><br>
      </div>
      <div class="form-group">
        <!--<label> Sexo: </label><br>
        <label class="radio-inline"><input type="radio" name="Sexo"> Masculino </label>
        <label class="radio-inline"><input type="radio" name="Sexo"> Femenino </label>-->
        Sexo: <input type="text" name="Sexo"class="form-control"><br>
      </div>
      <div class="form-group">
        Fecha de Nacimiento: <input type="date" name="FechaNacimiento" class="form-control"><br>
      </div>
      <button type="submit" class="btn btn-primary">Crear Usuario</button>

      {% if error %}
      <h3>Debes mandar datos</h3>
      {% endif %}

      {% if agregado %}
      <h3>Cliente Agregado</h3>
      {% endif %}
    </form>

      <table>
        <tr>
          <th>Nombre</th>
          <th>Apellido Paterno</th>
          <th>Apellido Materno</th>
          <th>Direccion</th>
          <th>Telefono</th>
          <th>Correo</th>
          <th>Sexo</th>
          <th>FechadeNacimiento</th>
        </tr>
        {% for fila in clientes %}
      <tr>
        <td>{{ fila.Nombre}}</td>
        <td>{{ fila.ApellidoP}}</td>
        <td>{{ fila.ApellidoM}}</td>
        <td>{{ fila.Direccion}}</td>
        <td>{{ fila.Telefono}}</td>
        <td>{{ fila.Correo}}</td>
        <td>{{ fila.Sexo}}</td>
        <td>{{ fila.FechaNacimiento}}</td>
      </tr>
        {% endfor %}
      </table>
</section>
    {% include "Pie.html" %}
  </body>
</html>
