<!DOCTYPE html>
<html lang="es">
  <head>
    {% include "Encabezado.html" %}
  </head>
  <body>
      {% include "menu.html" %}
<section>
    <h3>Compra</h3>
    <a href="/GraficaCompra/">Grafica Compra</a>
    <input type="button" id="Imprimir" value="Imprimir">
    <form action="" method="post">
    {% csrf_token %}
    <div class="form-group">
    Fecha: <input type="date" name="Fecha" class="form-control">
    </div>
    <div class="form-group">
    Total: <input type="number" name="Total" class="form-control">
    </div>
    <div class="form-group">
    Tipo de Pago: <input type="text" name="TipoPago" class="form-control">
    </div>
    <div class="form-group">
    Id Cliente: <input type="text" name="IdCliente" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Agregar Compra</button>

    {% if error %}
      <h3>Debes completar los datos</h3>
    {% endif %}

    {% if agregado %}
      <h3>Compra Realizada</h3>
    {% endif %}
    </form>
      <table>
          <tr>
            <th>Fecha</th>
            <th>Total</th>
            <th>Tipo de Pago</th>
            <th>Id Cliente</th>
          </tr>
        {% for fila in compras %}
          <tr>
            <td>{{ fila.Fecha}}</td>
            <td>{{ fila.Total}}</td>
            <td>{{ fila.TipoPago}}</td>
            <td>{{ fila.IdCliente}}</td>
          </tr>
        {% endfor %}
      </table>
  </section>
    <script>
      window.onload=function(){
          var boton=document.getElementById("Imprimir");
          boton.addEventListener("click",Imprimir);
      }

      function Imprimir(){
          window.print();
      }
    </script>
  {% include "Pie.html" %}
  </body>
</html>
