<!DOCTYPE html>
<html lang="es">
  <head>
    {% include "Encabezado.html" %}
  </head>
  <body>
    <form>
  <div class="form-group">
    <label for="Tipo"> Tipo: </label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="Pregunta1"> Pregunta1: </label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="Pregunta2"> Pregunta2: </label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="Pregunta3"> Pregunta3: </label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="Pregunta4"> Pregunta4: </label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="Pregunta5"> Pregunta5: </label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="Pregunta6"> Pregunta6: </label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="Pregunta7"> Pregunta7: </label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="Pregunta8"> Pregunta8: </label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="Pregunta9"> Pregunta9: </label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="Pregunta10"> Pregunta10: </label>
    <input type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  {% include "Pie.html" %}
  </body>
</html>
