<!DOCTYPE html>
<html lang="es">
  <head>
    {% include "Encabezado.html" %}
  </head>
  <body>
    <form>
  <div class="form-group">
    <label for="Horas Trabajadas"> Horas Trabajadas: </label>
    <input type="number" class="form-control">
  </div>
  <div class="form-group">
    <label for="Dias Trabajados"> Dias Trabajados: </label>
    <input type="number" class="form-control">
  </div>
  <div class="form-group">
    <label for="Pago Hora"> Pago Hora: </label>
    <input type="number" class="form-control">
  </div>
  <div class="form-group">
    <label for="Horas Extra"> Horas Extra: </label>
    <input type="number" class="form-control">
  </div>
  <div class="form-group">
    <label for="Bonos"> Bonos: </label>
    <input type="number" class="form-control">
  </div>
  <div class="form-group">
    <label for="IdEmpleado"> Id Empleado: </label>
    <input type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  {% include "Pie.html" %}
  </body>
</html>
