<!DOCTYPE html>
<html lang="es">
  <head>
    {% include "Encabezado.html" %}
  </head>
  <body>
    <form>
  <div class="form-group">
    <label for="FechaMantenimiento "> Fecha Mantenimiento: </label>
    <input type="date" class="form-control">
  </div>
  <div class="form-group">
    <label for="Area"> Area: </label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="IdMob"> Id Mob: </label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="CostoMantenimiento"> Costo Mantenimiento: </label>
    <input type="number" class="form-control">
  </div>
  <div class="form-group">
    <label for="IdEmpleado"> Id Empleado: </label>
    <input type="input" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  {% include "Pie.html" %}
  </body>
</html>
