<nav>
	<ul>
		<a href="/Actividad/">Actividad</a>
		<a href="/Asistencia/">Asistencia</a>
		<a href="/Balance/">Balance</a>
		<a href="/Cliente/">Cliente</a>
		<a href="/Compra/">Compra</a>
		<a href="/DetalleCompra/">Detalle Compra</a>
		<a href="/Devolucion/">Devolucion</a>
		<a href="/Empleado/">Empleado</a>
		<a href="/Evaluacion/">Evaluacion</a>
		<a href="/Jornada/">Jornada</a>
		<a href="/Mantenimiento/">Mantenimiento</a>
		<a href="/MateriaPrima/">Materia Prima</a>
		<a href="/Mobiliario/">Mobiliario</a>
		<a href="/Pago/">Pago</a>
		<a href="/Pedido/">Pedido</a>
		<a href="/Producto/">Producto</a>
		<a href="/Proveedor/">Proveedor</a>
		<a href="/Proyecto/">Proyecto</a>
		<a href="/Remplazo/">Remplazo</a>
		<a href="/Venta/">Venta</a>
	</ul>
</nav>
