<!DOCTYPE html>
<html lang="es">
  <head>
    {% include "Encabezado.html" %}
  </head>
  <body>
      {% include "menu.html" %}
<section>
      <h3>Pago</h3>
      <form action="" method="post">
      {% csrf_token %}
      <div class="form-group">
      Id Empleado<input type="text" name="IdEmpleado" class="form-control">
      </div>
      <div class="form-group">
      Salario: <input type="text" name="Sal" class="form-control">
      </div>
      <div class="form-group">
      Fecha Dep: <input type="date" name="FechaDep" class="form-control">
      </div>
      <div class="form-group">
      Metodo de Pago: <input type="text" name="MetodoPago" class="form-control">
      </div>
      <div class="form-group">
      Descuento: <input type="text" name="Des" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Agregar Pago</button>

        {% if error %}
          <h3>Debes completar los datos</h3>
        {% endif %}

        {% if agregado %}
          <h3>Pago Agregado</h3>
        {% endif %}
        </form>
      <table>
          <tr>
            <th>Id Empleado</th>
            <th>Sal</th>
            <th>FechaDep</th>
            <th>MetodoPago</th>
            <th>Des</th>
          </tr>
            {% for fila in pagos %}
          <tr>
            <td>{{ fila.IdEmpleado}}</td>
            <td>{{ fila.Sal}}</td>
            <td>{{ fila.FechaDep}}</td>
            <td>{{ fila.MetodoPago}}</td>
            <td>{{ fila.Des}}</td>
          </tr>
            {% endfor %}
      </table>
</section>
  {% include "Pie.html" %}
  </body>
</html>
