<!DOCTYPE html>
<html lang="es">
  <head>
    {% include "Encabezado.html" %}
  </head>
  <body>
    <form>
  <div class="form-group">
    <label for="IdUsuario"> Id Usuario: </label>
    <input type="text" class="form-control">
  </div>
    <div class="form-group">
    <label for="ActPermiso"> ActPermiso: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="ActConsulta"> ActConsulta: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="AsisPermiso"> AsisPermiso: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="AsisConsulta"> AsisConsulta: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="BalPermiso"> BalPermiso: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="BalConsulta"> BalConsulta: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="CliPermiso"> CliPermiso: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="CliConsulta"> CliConsulta: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="ComPermiso"> ComPermiso: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="ComConsulta"> ComConsulta: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="DcomPermiso"> DcomPermiso: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="DcomConsulta"> DcomConsulta: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="DevPermiso"> DevPermiso: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="DevConsulta"> DevConsulta: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="EmpPermiso"> EmpPermiso: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="EmpConsulta"> EmpConsulta: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="EvaPermiso"> EvaPermiso: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="EvaConsulta"> EvaConsulta: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="JorPermiso"> JorPermiso: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="JorConsulta"> JorConsulta: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="MatPermiso"> MatPermiso: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="MatConsulta"> MatConsulta: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="MobPermiso"> MobPermiso: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="MobConsulta"> MobConsulta: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="PagoPermiso"> PagoPermiso: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="PagoConsulta"> PagoConsulta: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="PedidoPermiso"> PedidoPermiso: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="PedidoConsulta"> PedidoConsulta: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="ProduPermiso"> ProduPermiso: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="ProduConsulta"> ProduConsulta: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="ProvePermiso"> ProvePermiso: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="ProveConsulta"> ProveConsulta: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="ProyePermiso"> ProyePermiso: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="ProyeConsulta"> ProyeConsulta: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="RemPermiso"> RemPermiso: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="RemConsulta"> RemConsulta: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="UsuarioPermiso"> UsuarioPermiso: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="UsuarioConsulta"> UsuarioConsulta: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="VentaPermiso"> VentaPermiso: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <div class="form-group">
    <label for="VentaConsulta"> VentaConsulta: </label> <br>
    <label class="radio-inline"><input type="radio" name="optradio"> Desactivado</label>
    <label class="radio-inline"><input type="radio" name="optradio"> Activado</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  {% include "Pie.html" %}
  </body>
</html>
