<!DOCTYPE html>
<html lang="es">
  <head>
    {% include "Encabezado.html" %}
  </head>
  <body>
    <form>
  <div class="form-group">
    <label for="NombrePro"> Nombre Pro: </label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="TipoPro"> Tipo Proyecto: </label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="IdEmpleado"> Id Empleado: </label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="FechaIn"> Fecha Inicio: </label>
    <input type="date" class="form-control">
  </div>
  <div class="form-group">
    <label for="FechaFin"> Fecha Final: </label>
    <input type="date" class="form-control">
  </div>
  <div class="form-group">
    <label for="Descripcion"> Descripcion: </label>
    <input type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  {% include "Pie.html" %}
  </body>
</html>
