<!DOCTYPE html>
<html lang="es">
  <head>
    {% include "Encabezado.html" %}
  </head>
  <body>
    <form>
  <div class="form-group">
    <label for="IdMobiliario"> Id Mobiliario: </label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="Fecha"> Fecha: </label>
    <input type="date" class="form-control">
  </div>
  <div class="form-group">
    <label for="Costo"> Costo: </label>
    <input type="number" class="form-control">
  </div>
  <div class="form-group">
    <label for="Descripcion"> Descripcion: </label>
    <input type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  {% include "Pie.html" %}
  </body>
</html>
