<!DOCTYPE html>
<html lang="es">
  <head>
    {% include "Encabezado.html" %}
  </head>
  <body>
      {% include "menu.html" %}
<section>
    <h3>Remplazo</h3>
    <form action="" method="post">
      {% csrf_token %}
    <div class="form-group">
    Id Mobiliario: <input type="text" name="IdMobiliario" class="form-control">
    </div>
    <div class="form-group">
    Fecha: <input type="date" name="Fecha" class="form-control">
    </div>
    <div class="form-group">
    Costo: <input type="number" name="Costo" class="form-control">
    </div>
    <div class="form-group">
    Descripcion: <input type="text" name="Descripcion" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Crear Remplazo</button>

    {% if error %}
      <h3>Debes mandar datos</h3>
    {% endif %}

    {% if agregado %}
      <h3>Remplazo Agregado</h3>
    {% endif %}
    </form>

<table>
      <tr>
        <th>Id Mobiliario</th>
        <th>Fecha</th>
        <th>Costo</th>
        <th>Descripcion</th>
      </tr>
    {% for fila in remplazos %}
      <tr>
        <td>{{ fila.IdMobiliario}}</td>
        <td>{{ fila.Fecha}}</td>
        <td>{{ fila.Costo}}</td>
        <td>{{ fila.Descripcion}}</td>
      </tr>
    {% endfor %}
</table>
</section>
  {% include "Pie.html" %}
  </body>
</html>
